{{- $cluster := .Values.cluster }}
{{- $environment := splitList "-" .Values.cluster | first }}
{{- $location := splitList "-" .Values.cluster | last }}
{{- range $tenantName, $tenantConfig := .Values.tenants }}
{{- if $tenantConfig.enabled }}
---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: tenant-{{ $tenantName }}
  namespace: {{ $.Release.Namespace | quote }}
spec:
  goTemplate: true
  goTemplateOptions:
    - "missingkey=error"
  generators:
    - git:
        repoURL: {{ $.Values.config.repository | quote }}
        revision: main
        files:
          - path: "deploy/clusters/{{ $cluster }}/{{ $tenantName }}/**.yml"
        values:
          release: '{{`{{ .path.filename | trimSuffix ".yml" }}`}}'
  template:
    metadata:
      namespace: {{ $.Release.Namespace | quote }}
      name: '{{ $tenantName }}-{{`{{ .values.release }}`}}'
      annotations:
        argocd.argoproj.io/compare-options: ServerSideDiff=true,IncludeMutationWebhook=true
    spec:
      project: default
      destination:
        server: https://kubernetes.default.svc
        namespace: '{{ $tenantName }}'
      sources:
        - repoURL: {{ $.Values.chart.repository | quote }}
          chart: '{{`{{ .chart }}`}}'
          targetRevision: '{{`{{ .tag }}`}}'
          helm:
            releaseName: '{{`{{ .values.release }}`}}'
            ignoreMissingValueFiles: true
            valueFiles:
              - '$values/deploy/services/{{`{{ .values.release }}`}}/00-base.yml'
              - '$values/deploy/services/{{`{{ .values.release }}`}}/10-env-{{ $environment }}.yml'
              - '$values/deploy/services/{{`{{ .values.release }}`}}/20-cluster-{{ $cluster }}.yml'
              - '$values/deploy/services/{{`{{ .values.release }}`}}/30-tenant-{{ $tenantName }}.yml'
            values: |
              platform:
                cluster: {{ $cluster | quote }}
                environment: {{ $environment | quote }}
                location: {{ $location | quote }}
                tenant: {{ $tenantName | quote }}
                domain: {{ $.Values.domain | quote }}
        - repoURL: {{ $.Values.config.repository | quote }}
          targetRevision: main
          ref: values
      syncPolicy:
        {{- if not $tenantConfig.disableAutoSync }}
        automated:
          prune: true
          selfHeal: true
        {{- end }}
        syncOptions:
          - ServerSideApply=true
          - PruneLast=true
        {{- $defaultNamespaces := list "kube-system" "argocd" }}
        {{- if not (has $tenantName $defaultNamespaces) }}
          - CreateNamespace=true
        {{- end }}
        {{- if eq $tenantName "platform" }}
        managedNamespaceMetadata:
          labels:
            pod-security.kubernetes.io/enforce: privileged
        {{- end }}
{{- end }}
{{- end }}
