# These will automatically be injected by the `argocd-apps` chart.
# No need to set them manually.
platform:
  cluster: "dev-lab01"
  environment: "dev"
  location: "lab01"
  tenant: "demo"
  domain: "nicklasfrahm.dev"

image:
  repository: "ghcr.io/nicklasfrahm-dev/axon"
  tag: "0.3.4"
  pullPolicy: "IfNotPresent"

expose:
  enabled: false
  host: ""
  hostPrefix: ""
  path:
    type: "PathPrefix"
    value: "/"
    stripPrefix: false

gateway:
  name: "shared-http"
  namespace: "platform"

service:
  type: ClusterIP
  port: 80
  containerPort: 8080

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  resource:
    cpu:
      enabled: true
      targetUtilizationPercentage: 100
    memory:
      enabled: true
      targetUtilizationPercentage: 90

env:
  # Add environment variables from hardcoded values.
  # The format is:
  #   VARIABLE: value
  fromLiterals: {}
  # Add environment variables from Kubernetes Secrets.
  # The format is:
  #   VARIABLE:
  #     secretName: keyName
  fromSecrets: {}

resources:
  cpu: 50m
  memory: 100Mi

reliability:
  maxUnavailable: 50%
  schedulingPolicy: ScheduleAnyway

probes:
  liveness:
    enabled: true
    port: 8081
    path: /live
  readiness:
    enabled: true
    port: 8081
    path: /ready
  startup:
    enabled: true
    port: 8081
    path: /startup