name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      service:
        type: string
        required: true
      tag:
        type: string
        required: false
      github-ssh-key:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      environment:
        description: "The target environment (dev, stg, prd)"
        required: true
        type: string
      service:
        description: "The service to deploy (cilium, argocd, etc.)"
        required: true
        type: string
      tag:
        description: "The image tag to deploy"
        required: false
        type: string

jobs:
  update-image-tag:
    name: Update image tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout configuration repository
        uses: actions/checkout@v5
        with:
          repository: nicklasfrahm-dev/platform
          ssh-key: ${{ secrets.GITOPS_SSH_PRIVATE_KEY || inputs.github-ssh-key }}

      - name: Validate service
        run: |
          set -eou pipefail

          if [[ ! -d "deploy/services/${{ inputs.service }}" ]]; then
            echo "Failed to validate service: ${{ inputs.service }}"
            echo "Service directory does not exist: deploy/services/${{ inputs.service }}"
            exit 1
          fi

      - name: Validate environment
        run: |
          set -eou pipefail

          environments=("dev" "stg" "prd")
          valid=false
          for env in "${environments[@]}"; do
            if [[ "${{ inputs.environment }}" == "$env" ]]; then
              valid=true
              break
            fi
          done

          if [[ "$valid" == false ]]; then
            echo "Failed to validate environment: ${{ inputs.environment }}"
            echo "Must be one of: ${environments[*]}"
            exit 1
          fi

      - name: Install yq
        uses: dcarbone/install-yq-action@4075b4dca348d74bd83f2bf82d30f25d7c54539b

      - name: Update image tag in environment file
        run: |
          set -eou pipefail

          ENV_FILE="deploy/services/${{ inputs.service }}/10-env-${{ inputs.environment }}.yml"

          # Ensure the environment file exists.
          touch "$ENV_FILE"

          # Update the image tag using yq.
          yq -i '.image.tag = strenv(IMAGE_TAG)' "$ENV_FILE"
        env:
          IMAGE_TAG: ${{ inputs.tag }}

      - name: Commit and push changes
        run: |
          set -eou pipefail

          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git add "deploy/services/${{ inputs.service }}/10-env-${{ inputs.environment }}.yml"

          if git commit -m "chore(deploy): deploy ${{ inputs.service }} ${{ inputs.tag }} to ${{ inputs.environment }}"; then
            git push origin main
          fi
