name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "The target environment (dev, stg, prd)"
        required: true
        type: string
      service:
        description: "The service to deploy (cilium, argocd, etc.)"
        required: true
        type: string
      tag:
        description: "The image tag to deploy"
        required: true
        type: string

jobs:
  update-image-tag:
    name: Update image tag
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to environment
        uses: nicklasfrahm-dev/platform/actions/deploy@main
        with:
          service: ${{ inputs.service }}
          environment: ${{ inputs.environment }}
          tag: ${{ inputs.tag }}
          github-ssh-key: ${{ secrets.GITOPS_SSH_PRIVATE_KEY }}
